<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="template">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Demande adhesion club</title>
</head>

<body>

    <div layout:fragment="Mycontent">
        <div class="">
            <div class="row my-4">
                <div class="col">
                    <h1 class="text-center">Liste des demande adhesion</h1>
                </div>
            </div>
            <div th:if="${type=='success'}" class="my-4 alert alert-success" role="alert" th:text="${msg}">aa</div>
            <div th:if="${type=='warning'}" class="my-4 alert alert-warning" role="alert" th:text="${msg}">aa</div>
            <div th:if="${type=='danger'}" class="my-4 alert alert-danger" role="alert" th:text="${msg}">aa</div>
            <div th:if="${del==1}" class="my-4 alert alert-danger" role="alert">Demande deleted</div>
            <div th:if="${edit==1}" class="my-4 alert alert-warning" role="alert">Demande edit</div>
            <div th:if="${add==1}" class="my-4 alert alert-success" role="alert">Demande envoyée avec success</div>
            <div th:if="${decline==1}" class="my-4 alert alert-warning" role="alert">Demande refusée</div>
            <div th:if="${accept==1}" class="my-4 alert alert-warning" role="alert">Demande acceptée</div>
            <div th:if="${exist==1}" class="my-4 alert alert-warning" role="alert">Vous avez envoyez deja une demande</div>
            
            <div class="row my-4">
                <table class="table table-dark table-striped">
                    <thead>
                        <th>ID</th>
                        <th>Nom etudiant</th>
                        <th>Message</th>
                        <th  sec:authorize="hasRole('STUDENT')||hasRole('ADMIN')">Actions</th>
                    </thead>
                    <tr th:if="${#arrays.isEmpty(Dacs.content)}">
						<td colspan="4" class="text-center ">No DCC found ! </td></tr>
					<tr th:each="dac:${Dacs.content}">
                        <td th:text="${dac.id}"></td>
                        <td th:text="${dac.etudiant.username}"></td>
                        <td th:text="${dac.message}"></td>
                        <td  sec:authorize="hasRole('RESPONSABLE')"  >
                            <div th:if="${dac.status!=1}">
                                <a th:class="${dac.status==1?'btn btn-success disabled ':'btn btn-success' }"  th:href="@{acceptDac(id=${dac.id},page=${currentPage},size=${param.size})}">
                                    <i class="fa fa-check"></i>
                                </a>
                                <a th:class="${dac.status==2?'btn btn-danger disabled ':'btn btn-danger' }" th:href="@{declineDac(id=${dac.id},page=${currentPage},size=${param.size})}">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="text-success" th:if="${dac.status==1}">
                                dac acceptée
                            </div>
                        </td>
					</tr>
				</table>
				<ul class="nav nav-pills">
					<li th:each="page,status:${pages}"><a
							th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
							th:href="@{ demandeAdhesionClubClub(page=${status.index}, size=${param.size} ) }" 
							th:text="${status.index+1 }"></a></li>
				</ul>
			</div>
		</div>
    </div>
</body>

</html>