<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="template">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Liste des Produits</title>
</head>

<body>

    <div layout:fragment="Mycontent">
                <div class="container">
                    <div class="row my-4">
                        <div class="col">
                            <h1 class="text-center">Liste des Demandes Materiel</h1>
                            <a sec:authorize="hasRole('STUDENT')" th:href="@{showCreateDm(
                            page=${currentPage},size=${param.size})}" class="float-start btn btn-success"> <i
                                    class="fa-solid fa-plus"></i> Ajouter
                            </a>
                        </div>
                    </div>
                    <div th:if="${type=='success'}" class="my-4 alert alert-success" role="alert" th:text="${msg}">aa</div>
                    <div th:if="${type=='warning'}" class="my-4 alert alert-warning" role="alert" th:text="${msg}">aa</div>
                    <div th:if="${type=='danger'}" class="my-4 alert alert-danger" role="alert" th:text="${msg}">aa</div>
                    <div th:if="${del==1}" class="my-4 alert alert-danger" role="alert">Demande Materiel deleted</div>
                    <div class="row my-4 container " style="background-color:rgb(191, 191, 191) ; border-radius: 7px  ;" th:each="demande:${Dmms.content}">
                            <p th:text="${demande.id}" class="mr-1"></p>
                        
                            <div class="row col-3">
                                <label>Destinataire :</label>
                                <p th:text="${demande.destinataire.name}"></p>
                            </div>
                            <div class=" col-4">
                                <label>Date d'emploi :</label>
                                <p th:text="${#dates.format(demande.dateEmploi, 'yyyy-MM-dd')}"></p>
                            </div>  
                            <div class=" col-5">
                                <label>Date de remise :</label>
                                <p th:text="${#dates.format(demande.dateDeRemise, 'yyyy-MM-dd')}"></p>
                            </div>   
                            <!-- <div class="row container">
                                <div class="row  col-6">
                                <label>Categorie :</label>
                                <p th:text="${demande.idCategorie}"></p>
                            </div> -->
                            <div class=" row col-6">
                                <label>Reponse :</label>
                                <p th:text="${demande.reponse}"></p>
                            </div>  
                            <div class=" row" sec:authorize="hasRole('STUDENT')"> 
                                <a class="btn btn-danger ml-2" onclick="return confirm('Etes-vous sur ?')" th:href="@{deleteDmm(id=${demande.id},
                                    page=${currentPage},size=${param.size})}"><i class="fa-solid fa-trash"></i></a> 
                                <a class="btn btn-warning ml-2 " th:href="@{showEditDm(id=${demande.id},
                                    page=${currentPage},size=${param.size})}"><i class="fa-solid fa-pen"></i></a>
                                <span th:if="${demande.status==1}" th:class="${demande.status==1?'btn btn-success disabled ml-2':'' }"><i class="fa fa-check"></i></span>
                                <span th:if="${demande.status==2}" th:class="${demande.status==2?'btn btn-danger disabled ml-2':'' }"><i class="fa fa-times"></i></span>
                                <a class="btn btn-primary ml-2" th:href="@{showMateriel(id=${demande.id},
                                    page=${currentPage},size=${param.size})}">ajouter Materiel</a>
                            </div>

                    </div>
                    <ul class="nav nav-pills">
                        <li th:each="page,status:${pages}"><a
                                th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
                                th:href="@{ listeDm(page=${status.index}, size=${param.size} ) }" 
                                th:text="${status.index+1 }"></a></li>
                    </ul>
                </div>

                    <!-- <table class="table table-dark table-striped">
                    <thead>
                        <th>ID</th>
                        <th>idDestinataire</th>
                        <th>Date d'emploi</th>
                        <th>Date de Remise</th>
                        <th>Categorie</th>
                        <th>Reponse</th>
                        <th sec:authorize="hasRole('STUDENT')||hasRole('ADMIN')">Actions</th>
                    </thead>
                    <tr th:if="${#arrays.isEmpty(Dmms.content)}">
						<td colspan="4" class="text-center ">No Demande Materiel found ! </td></tr>
					<tr th:each="demande:${Dmms.content}">
                        <td th:text="${demande.id}"></td>
                        <td th:text="${demande.destinataire}"></td>
                        <td th:text="${#dates.format(demande.dateEmploi, 'yyyy-MM-dd')}"></td>
                        <td th:text="${#dates.format(demande.dateDeRemise, 'yyyy-MM-dd')}"></td>
                        <td th:text="${demande.idCategorie}"></td>
                        <td th:text="${demande.reponse}"></td>
						<td  sec:authorize="hasRole('STUDENT')" ><a class="btn btn-danger " onclick="return confirm('Etes-vous sur ?')" th:href="@{deleteDmm(id=${demande.id},
								page=${currentPage},size=${param.size})}"><i class="fa-solid fa-trash"></i></a> <a class="btn btn-warning " th:href="@{showEditDm(id=${demande.id},
								page=${currentPage},size=${param.size})}"><i class="fa-solid fa-pen"></i></a>
                                <span th:if="${demande.status==1}" th:class="${demande.status==1?'btn btn-success disabled ':'' }"><i class="fa fa-check"></i></span>
                                <span th:if="${demande.status==2}" th:class="${demande.status==2?'btn btn-danger disabled ':'' }"><i class="fa fa-times"></i></span>
                        </td>
					</tr>
				</table> -->
             
				
			</div>
		
</body>

</html>