<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="template">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Liste des classes enseignées</title>
    <style>
        .striked {
            text-decoration: line-through;
        }
    </style>
</head>

<body>

    <div layout:fragment="Mycontent">
        <div class="">
            <div class="row my-4">
                <div class="col">
                    <h1 class="text-center">Liste des classes enseignées</h1>
                </div>
            </div>
            <div th:if="${message}!='vide'" th:class="'my-4 alert alert'+'-'+${typea}" role="alert"
                th:text="${message}"></div>
            <div class="row my-4">
                <table class="table table-dark table-striped">
                    <thead>
                        <th>ID</th>
                        <th>nom matiere</th>
                        <th>nom classe</th>
                        <th>nom coefficient</th>
                        <th>nom semestre</th>
                    </thead>
                    <tr th:if="${#arrays.isEmpty(matieres)}">
						<td colspan="4" class="text-center ">Aucune matiere trouvée ! </td></tr>
					<tr th:each="c,iter:${matieres}">
                            <td th:text="${c.id}"></td>
                            <td th:text="${c.nom}"></td>
                            <td th:text="${c.classe.abreviation}"></td>
                            <td th:text="${c.coefficient}"></td>
                            <td th:text="${c.semestre}"></td>
                        <td>
                        </td>
					</tr>
				</table>
			</div>
		</div>
    </div>
</body>

</html>