<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<link rel="stylesheet" type="text/css"
	href="bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script src="jquery.js"></script>
    <script src="bootstrap.js"></script>
        <script src="popper.min.js"></script>
		<script src="script.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

	<meta charset="utf-8" />
	<title>Gestion des Produits</title>
</head>

<body>
	
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" th:href="@{listeDcc}">PROJECT</a>
		

		<ul class="navbar-nav ml-auto mr-5">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					<span sec:authentication="name"></span>
				</a>
				<div class="dropdown-menu">
					<a sec:authorize="!isAuthenticated()" class="dropdown-item" th:href="@{login}">login</a>
					<a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{logout}">logout</a>
					<a class="dropdown-item" href="@{login}">Profile</a>
					<a sec:authorize="!isAuthenticated()" class="dropdown-item"
					th:href="@{register}">register</a>
				</div>
			</li>
		</ul>
	</nav>
	<div class="page-wrapper chiller-theme toggled">
		<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
		  <i class="fas fa-bars"></i>
		</a>
		<div th:replace="header :: header">...</div>
		<!-- sidebar-wrapper  -->
		<main class="page-content">
		  <div class="container-fluid">
			<section layout:fragment="Mycontent"></section>
		  </div>
		</main>
	
</body>

</html>