<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template">

<head>
	<meta charset="utf-8">
	<title>Create Demande Event</title>
</head>

<body>
	<div layout:fragment="Mycontent">
		<div class="container my-4">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<span class="anchor" id="formLogin"></span>
					<!-- form card login -->
					<div class="card card-outline-secondary">
						<div class="card-header">

							<h3 th:text="${edit}?'Modifier Demande':'Créer Demande'" class="mb-0"></h3>
						</div>
						<div class="card-body">
							<form th:action="${edit}?'updateDE':'saveDE'" class="form"
								id="formLogin" name="formLogin" role="form" action="saveDE" method="post">
								<div class="form-group">
									<label class="control-label">Nom d'évenement :</label> <input type="text" name="nomEvent"
										class="form-control" th:value="${DE.nomEvent}" />
									<span th:errors=${DE.nomEvent} class="text-danger">
									</span>
								</div>
								<div class="form-group">
									<label class="control-label">Description :</label> <input type="text" name="description"
										class="form-control" th:value="${DE.description}" />
									<span th:errors=${DE.description} class="text-danger">
								</div>
								
								<div class="form-group">
									<label class="control-label">Date d'evenement :</label> <input type="date" name="dateEvent"
										class="form-control" th:value="${#dates.format(DE.dateEvent, 'yyyy-MM-dd')}" />
									<span th:errors=${DE.dateEvent} class="text-danger">
								</div>
                                
								<input type="hidden" name="id" th:value="${DE.id}" />
								<input type="hidden" name="page" th:value="${param.page}" />
								<input type="hidden" name="size" th:value="${param.size}" />
								<input th:value="${edit}?'Modifier':'Ajouter'" class="btn btn-success my-3 btn-lg float-right"
								type="submit" >
							</form>
							
						</div>
						<!--/card-block-->
					</div>
					<!-- /form card login -->
				</div>
			</div>
		</div>
	</div>
</body>

</html>